<header class="navbar navbar-default">
  <div class="container">
    <%= link_to "Sitelist", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Add Site", new_site_path %></li>
      </ul>
    </nav>
  </div>
</header>
